 

      div, h1, form, input, p {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: #666;
      }
      h1 {
      padding: 10px 0;
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      }
      p {
      font-size: 12px;
      }
      hr {
      color: #a9a9a9;
      opacity: 0.3;
      }
      .main-block {

      max-width: 400px; 
      min-height: 300px;
      padding: 10px 0;
      margin: 100px 100px auto;
      border-radius: 5px; 
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
      background: #ebebeb;
      margin-inline: auto;
      }
      form {
      margin: 0 30px;
      text-align: center;
      }
      .account-type, .gender {
      margin: 15px 0;
      }
      
      input[type=text], input[type=password], input[type=email]{
      width: calc(100% - 57px);
      height: 36px;
      margin: 13px 0 0 -5px;
      padding-left: 10px; 
      border-radius: 0 5px 5px 0;
      border: solid 1px #cbc9c9; 
      box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
      background: #fff; 
      }
      input[type=password] {
      margin-bottom: 15px;
      }
    
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }      
      button {
      width: 100%;
      padding: 10px 0;
      margin: 10px auto;
      border-radius: 5px; 
      border: none;
      background-color: #343a40;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      }
      a:link {
          color: #808080;
      }
      a:visited {
            color: #666666;
      }


      button:hover {
      background: #A9A9A9;
      }
  